           <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Menu</div>
                            <a class="nav-link" href="/WeatherForecast/SearchByCity/">
                                <div class="sb-nav-link-icon"><i class="fas fa-cloud-moon"></i></div>
                                Get Weather By City
                            </a>
                              <a class="nav-link" href="#">
                                <div class="sb-nav-link-icon"><i class="fas fa-info"></i></div>
                                Yardım
                            </a>
                        </div>
                    </div>
                </nav>
           </div>